.isTrue {
  background: url('./images//true_big.png') no-repeat;
  background-size: .27rem .27rem;
  border:0 !important;
  width: .27rem;
  height: .27rem;
  border-radius: 50%;
  margin-right: .16rem;
}
.isFalse {
  background: url('./images/false_big.png') no-repeat;
  background-size: .27rem .27rem;
  border:0 !important;
  width: .27rem;
  height: .27rem;
  border-radius: 50%;
  margin-right: .16rem;
}